EARLY_ACCESS_DATA_DIR=.data
INFISICAL_API_URL=https://sm.heroit.ca
INFISICAL_CLIENT_ID=
INFISICAL_CLIENT_SECRET=
INFISICAL_PROJECT_ID=
INFISICAL_ENVIRONMENT=prod
INFISICAL_SECRET_PATH=/
INFISICAL_GOOGLE_PLACES_SECRET_NAME=GOOGLE_PLACES_API_KEY
