DATABASE_URL=postgresql://sidekick_public_web_app:change-me@192.168.4.30:5432/sidekick_public_web
INFISICAL_API_URL=https://sm.heroit.ca
INFISICAL_CLIENT_ID=
INFISICAL_CLIENT_SECRET=
INFISICAL_PROJECT_ID=
INFISICAL_ENVIRONMENT=prod
INFISICAL_SECRET_PATH=/
INFISICAL_GOOGLE_PLACES_SECRET_NAME=GOOGLE_PLACES_API_KEY
